
# --- FRONTEND ---
# dependencies
frontend/node_modules

# testing
frontend/coverage

# production
frontend/build
backend/.gradle/4.10.3/fileHashes/fileHashes.bin
backend/.gradle/4.10.3/fileHashes/fileHashes.lock
backend/.idea/artifacts/unnamed.xml
backend/.idea/workspace.xml
backend/wildfly-16.0.0.Final/standalone/configuration/logging.properties
backend/wildfly-16.0.0.Final/standalone/configuration/standalone.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/20190604-092119512/standalone.v1.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/20190604-092119512/standalone.v2.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/20190604-092119512/standalone.v3.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/20190604-092119512/standalone.v4.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/current/standalone.v2.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/current/standalone.v3.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/current/standalone.v4.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/standalone.last.xml
backend/wildfly-16.0.0.Final/standalone/log/server.log
backend/wildfly-16.0.0.Final/standalone/tmp/startup-marker
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/jackson-core-2.8.8.jar-28b23cbcbba0ebc/jackson-core-2.8.8.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/jackson-databind-2.8.8.1.jar-73680c155f53f6e2/jackson-databind-2.8.8.1.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/mybatis-3.4.6.jar-c11ac09fa06a3b61/mybatis-3.4.6.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/mybatis-cdi-1.0.2.jar-a40580f96f8b50b4/mybatis-cdi-1.0.2.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/postgresql-42.2.5.jar-6335d0643b190a9e/postgresql-42.2.5.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/slf4j-api-1.7.1.jar-d2668c2248ab8c1b/slf4j-api-1.7.1.jar
backend/.gradle/4.10.3/fileHashes/fileHashes.bin
backend/.gradle/4.10.3/fileHashes/fileHashes.lock
backend/.idea/workspace.xml
backend/wildfly-16.0.0.Final/standalone/configuration/logging.properties
backend/wildfly-16.0.0.Final/standalone/configuration/standalone.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/current/standalone.v2.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/current/standalone.v3.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/current/standalone.v4.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/standalone.last.xml
backend/wildfly-16.0.0.Final/standalone/log/server.log
backend/wildfly-16.0.0.Final/standalone/tmp/startup-marker
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/jackson-core-2.8.8.jar-28b23cbcbba0ebc/jackson-core-2.8.8.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/jackson-databind-2.8.8.1.jar-73680c155f53f6e2/jackson-databind-2.8.8.1.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/mybatis-3.4.6.jar-c11ac09fa06a3b61/mybatis-3.4.6.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/mybatis-cdi-1.0.2.jar-a40580f96f8b50b4/mybatis-cdi-1.0.2.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/postgresql-42.2.5.jar-6335d0643b190a9e/postgresql-42.2.5.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/slf4j-api-1.7.1.jar-d2668c2248ab8c1b/slf4j-api-1.7.1.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/slf4j-api-1.7.1.jar-d2668c2248ab8c1b/slf4j-api-1.7.1.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/postgresql-42.2.5.jar-6335d0643b190a9e/postgresql-42.2.5.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/mybatis-cdi-1.0.2.jar-a40580f96f8b50b4/mybatis-cdi-1.0.2.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/mybatis-3.4.6.jar-c11ac09fa06a3b61/mybatis-3.4.6.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/jackson-databind-2.8.8.1.jar-73680c155f53f6e2/jackson-databind-2.8.8.1.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/jackson-core-2.8.8.jar-28b23cbcbba0ebc/jackson-core-2.8.8.jar
backend/wildfly-16.0.0.Final/standalone/tmp/startup-marker
backend/wildfly-16.0.0.Final/standalone/log/server.log
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/standalone.last.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/current/standalone.v4.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/current/standalone.v3.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/current/standalone.v2.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/20190604-092643694/standalone.v4.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/20190604-092643694/standalone.v3.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/20190604-092643694/standalone.v2.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/20190604-092643694/standalone.v1.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone.xml
backend/wildfly-16.0.0.Final/standalone/configuration/logging.properties
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/slf4j-api-1.7.1.jar-d2668c2248ab8c1b/slf4j-api-1.7.1.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/postgresql-42.2.5.jar-6335d0643b190a9e/postgresql-42.2.5.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/mybatis-cdi-1.0.2.jar-a40580f96f8b50b4/mybatis-cdi-1.0.2.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/mybatis-3.4.6.jar-c11ac09fa06a3b61/mybatis-3.4.6.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/jackson-databind-2.8.8.1.jar-73680c155f53f6e2/jackson-databind-2.8.8.1.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/jackson-core-2.8.8.jar-28b23cbcbba0ebc/jackson-core-2.8.8.jar
backend/wildfly-16.0.0.Final/standalone/tmp/startup-marker
backend/wildfly-16.0.0.Final/standalone/log/server.log
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/standalone.last.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/current/standalone.v4.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/current/standalone.v3.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/current/standalone.v2.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone.xml
backend/wildfly-16.0.0.Final/standalone/configuration/logging.properties
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/slf4j-api-1.7.1.jar-d2668c2248ab8c1b/slf4j-api-1.7.1.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/postgresql-42.2.5.jar-6335d0643b190a9e/postgresql-42.2.5.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/mybatis-cdi-1.0.2.jar-a40580f96f8b50b4/mybatis-cdi-1.0.2.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/mybatis-3.4.6.jar-c11ac09fa06a3b61/mybatis-3.4.6.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/jackson-databind-2.8.8.1.jar-73680c155f53f6e2/jackson-databind-2.8.8.1.jar
backend/wildfly-16.0.0.Final/standalone/tmp/vfs/deployment/deployment458cbb3dd8696552/jackson-core-2.8.8.jar-28b23cbcbba0ebc/jackson-core-2.8.8.jar
backend/wildfly-16.0.0.Final/standalone/tmp/startup-marker
backend/wildfly-16.0.0.Final/standalone/log/server.log
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/standalone.last.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/current/standalone.v4.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/current/standalone.v3.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone_xml_history/current/standalone.v2.xml
backend/wildfly-16.0.0.Final/standalone/configuration/standalone.xml
backend/wildfly-16.0.0.Final/standalone/configuration/logging.properties
*.xml
