.header-container {
  background-color: #00a758;
  width: 100%;
}

@media (max-width: 450px) {
  .header-container {
    margin-bottom: 0;
  }
}

.header-inner {
  margin: auto;
  max-width: 800px;
}

ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  display: block;
  text-align: center;
  font-size: 22px;
}

li.profile-dropdown {
  float: right;
}

li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: #fff;
}

.profile-dropdown-button {
  cursor: pointer;
}

.profile-dropdown-content {
  cursor: pointer;
  display: none;
  position: fixed;
  background-color: #00a758;
}

@media(max-width: 900px) {
  .profile-dropdown-content {
    right: 0;
  }
}

.profile-dropdown-element {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.profile-dropdown:hover .profile-dropdown-content { display: block; }

.profile-dropdown-element:hover {
  background-color: #016735;
}