.header-container {
  background-color: #00a758;
}

ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  display: block;
  text-align: center;
  font-size: 22px;
}

li.profile-menu {
  float: right;
}

li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

li:hover:not(.active) {
  background-color: #016735;
}

