.profile-component {
    width: 100%;
    height: 100%;
}

.profile-component article{
    display: block;
}

.profile-component article form {
    margin: auto;
    max-width: 600px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.profile-label {
    text-align: right;
}

.profile-input {

}

.profile-apply-button {
    grid-column-start: 2;
}

.profile-pw-reset {
    display: block;
    margin: auto;
}