.sale-component {
	text-align: center;
	display: table;
	margin: auto;
	max-width: 800px;
	height: 100%;
} 

.sale-component span {
	display: block;
}

.sale-left-section {
	display: table-cell;
	background: #fff;
	text-align: left;
	width: 65%;
	padding: 20px;
	border-radius: 10px;
}

.sale-mid-section {
	display: table-cell;
	width: 2.5%;
}

.sale-right-section {
	display: table-cell;
	background: #fff;
	width: 20%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
}

@media (max-width: 450px) {
	.sale-left-section, .sale-right-section, .sale-mid-section {
		width: 90%;
		display: inline-block;
	}
}

.sale-title {
	margin: 5px 0;
	font-weight: bold;
	font-size: 2rem;
}

.sale-location {
	font-style: italic;
}

.sale-images {
	height: 300px;
	text-align: center;
	padding: 20px;
}

.sale-main-image {
	height: 70%;
}

.sale-other-images {
	overflow: hidden;
	height: 30%;
	margin-top: 10px;
}

.sale-other-images img {
	display: inline-block;
	height: 100%;
	margin: 0 10px;
}

.sale-description {
	text-align: justify;
}

.sale-price {
	font-weight: bold;
	font-size: 1.2rem;
}

.sale-nego {
	font-style: italic;
	font-size: 0.85rem;
}

.sale-announcer-label {
	font-weight: bold;
}

.sale-announcer {
	font-weight: bold;
	text-align: center;
	margin: 5px 0;
}

.sale-contact-button {
	color: #fff;
	background-color: #00a758;
	border-radius: 10px;
	border: 0 none;
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	line-height: 1.45;
	padding: 9px 31px;
	transition: all 0.25s ease-out;
	cursor: pointer;
	margin: 5px 0;
}

.sale-contact-button:hover {
  background-color: #016735;
}

.sale-date-label {
	font-weight: bold;
}

.sale-date {
	line-height: 1.5rem;
}

.sale-tags-section {
	margin: 5px 0;
}

.sale-tag {
	color: #fff;
	background: #00a758;
	font-family: 'Arial', sans-serif;
	font-size: 0.75rem;
	border: 0 none;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 0 3px;
	display: inline-block !important;
	cursor: pointer;
}

.sale-tag:hover {
  background-color: #016735;
}