<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.gegi.server.persistence.ArticleMapper">

    <select id="GetArticlesFiltered" parameterType="String" resultType="Article">
        SELECT
            id_article,
            id_category,
            cip_user,
            id_status,
            title,
            description,
            creation_date,
            price,
            wear,
            nego,
            location,
            image_src
        FROM
            articles
    </select>

    <select id="GetArticleById" parameterType='int' resultType="Article">
        SELECT
            id_article,
            id_category,
            cip_user,
            id_status,
            title,
            description,
            creation_date,
            price,
            wear,
            nego,
            location,
            image_src
        FROM
            articles
        WHERE
            id_article = #{id};
    </select>

    <insert id = "InsertArticle" parameterType="Article">
        INSERT INTO articles
            (id_category, cip_user, id_status, title, description, creation_date, price, wear, nego, location, image_src)
        VALUES
            (#{article.id_category},
            #{article.cip},
            1,
            #{article.title},
            #{article.description},
            (SELECT NOW()::Date),
            #{article.price},
            #{article.wear},
            #{article.nego},
            (SELECT CITY FROM USERS WHERE CIP = #{article.cip}),
            #{article.image_src});
    </insert>

</mapper>
