<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.gegi.server.persistence.ClientMapper">

    <select id="GetClientByCIP" parameterType="String" resultType="Client">
      SELECT
        id_client,
        first_name,
        last_name,
        username,
        password,
        email,
        phone,
        cell_phone,
        ville,
        cote_seller,
        cip
      FROM
        nouvelusage.client
      WHERE
        cip = #{cip}
      LIMIT 1
    </select>

    <select id="GetClientById" parameterType='int' resultType="Client">
      SELECT
        id_client,
        first_name,
        last_name,
        username,
        password,
        email,
        phone,
        cell_phone,
        ville,
        cote_seller,
        cip
      FROM
        nouvelusage.client
      WHERE
        id_client = #{id}
      LIMIT 1
    </select>

  <insert id="CreateClient" parameterType="String">
    INSERT INTO nouvelusage.client (cip)
    VALUES (#{cip})
  </insert>

    <update id = "UpdateClient" parameterType = "Client">
    UPDATE client set
     first_name = #{client.first_name},
     last_name= #{client.last_name},
     username = #{client.username},
     email = #{client.email},
     phone = #{client.phone},
     cell_phone = #{client.cell_phone},
     ville = #{client.ville}
    WHERE
     id_client = #{client.id_client};

  </update>

</mapper>
